/**
 * Reset
 */
ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

img, embed, object, iframe {
  max-width: 100%;
}

/**
 * General
 */
.region {
  width: 100%;
  overflow: hidden;
}

.branding {
  margin-bottom: 2%;
}

.closure {
  margin-top: 2%;
}

/**
 * Content list
 */
.sub-region.content-teaser-list,
.sub-region.content {
  float: left;
}

.sub-region.content-teaser-list {
  width: 27.5%;
  margin-right: 2%
}

.sub-region.content-teaser-list .list-item {
  padding: 3%;
  margin-right: 3%;
  margin-bottom: 10px;
   -webkit-transition: margin .1s linear;
   transition: margin .1s linear;
}

.sub-region.content-teaser-list .list-item.active {
  margin-right: 0%;
}

.sub-region.content-teaser-list a {
  display: block;
}

.sub-region.content {
  width: 62.5%;
  background: #FFF;
}

/**
 * Media query test
 */
@media screen and (max-width: 600px) {

  .sub-region.content-teaser-list,
  .sub-region.content  {
    width: 100%;
    margin: 0;
  }

  .sub-region.content #shown-article {
    position: fixed;
    top: 0;
    left: 0;
    padding: 3%;
    z-index: 100;
    height: 100%;
    width: 600px;
    background: #FFF;
  }
  
  .sub-region.content .close {
    width: 10px;
    height: 10px;
    background: red;
  }
  
  .sub-region.content-teaser-list .list-item,
  .sub-region.content-teaser-list .list-item.active {
    margin-right: 0;
  }
}
