/**
 * Temp stuff
 */
 
body {
  background: #ECECEC;
}

p {
  margin: 0 0 2% 0;
}

.wrapper {
  width: 78%;
  background: #FFF;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.region {
  padding: 1%;
}

.region.branding {
    border-bottom: 0.4em solid #ECECEC;
}

.region.closure {
    border-top: 0.4em solid #ECECEC;
}

.news-list {
  margin: 0;
  padding: 0;
}

.list-item {
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-left: 20%;
  margin-bottom: 5%
}

.list-item .teaser-image {
  float: left;
  margin-left: -20%;
  width: 20%;
}

.list-item .teaser-image img {
  float: left;
}

